@model OnlineShopCMS.Models.DetailViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="@Html.DisplayFor(model => model.imgsrc)" class="img-fluid" alt="Product Image" style="max-height: 400px;" />
        </div>
        <div class="col-md-6">
            <h2>@Html.DisplayFor(model => model.product.Name)</h2>
            <p class="text-muted">@Html.DisplayFor(model => model.product.Description)</p>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h4>Price:</h4>
                    <p class="text-success">@Html.DisplayFor(model => model.product.Price)</p>
                </div>
                <div class="col-md-6">
                    <h4>Stock:</h4>
                    <p class="text-info">@Html.DisplayFor(model => model.product.Stock)</p>
                </div>
            </div>
            <hr />
            <h4>Content:</h4>
            <p class="text-justify">@Html.Raw(Model.product.Content)</p>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <a asp-action="Edit" asp-route-id="@Model.product.Id" class="btn btn-primary">Edit</a>
        </div>
        <div class="col-md-6 text-right">
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
